.menu__container {
    margin-top: 1.75rem;
    background-color: var(--color-white);
    border-radius: 20px;
    width: 100%;
    min-height: 70vh;
    height: fit-content;
    padding: 2rem 2rem;
    box-shadow: 20px 20px 60px #d5d5d5,
    -20px -20px 60px #ebebeb;


}

.menu__buttons__container {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

/* .button__container {
    display: flex;
    justify-content: space-between;
    background-color: #eae7e779;
    border-radius: 25px;
    padding: 1.7rem;
    align-items: center;
    transition: var(--transition);
    border: 1px solid transparent;
    
} */
.button__container:hover {
    background-color:var(--color-bg);
    transition: var(--transition);
    border-color: var(--color-primary-variant);
    cursor: pointer;
}

.button__container div {
    display: flex;
    column-gap: 0.7rem;
}
.button__container div>svg {
    color: green;
}
.menu__buttons__container div button {
    border: none;
    background-color: transparent;
    font-size: 1rem;

}

.active {
    background-color:rgba(240, 240, 249, 0.396);
    border-color: rgba(77, 181, 255, 0.416);

}

.icons__container {
    display: flex;
    align-items: center;
}

.icons__container> div {

}