.menu__container {
    margin-top: 5rem;
    background-color: var(--color-white);
    border-radius: 2rem;
    width: 100%;
    min-height: 60vh;
    padding: 3.2rem 3.2rem;
    box-shadow: 2rem 2rem 6rem #d5d5d5,
    -20px -20px 60px #ebebeb;
    font-size: 1.5rem;

}


.menu__buttons__container {
    display: flex;
    flex-direction: column;
    row-gap: .3rem;
}



/* .button__container {
    display: flex;
    justify-content: space-between;
    background-color: #eae7e779;
    border-radius: 25px;
    padding: 1.7rem;
    align-items: center;
    transition: var(--transition);
    border: 1px solid transparent;
    
} */
.button__container:hover {
    background-color:var(--color-bg);
    transition: var(--transition);
    border-color: var(--color-primary-variant);
    cursor: pointer;
}

.button__container div {
    display: flex;
    column-gap: 1.2rem;
}
.button__container div>svg, .bar-button__container >svg {
    color: green;
}
.menu__buttons__container div button {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
}



.icons__container {
    display: flex;
    align-items: center;
}

/* menu bar */


.bar-button__container {
    display: flex;
    flex-direction: row;
    column-gap: .2rem;
    justify-content: center;
    background-color: #eae7e759;
    border-radius: 2rem;
    padding: 1rem;
    align-items: center;
    transition: var(--transition);
    border: 0.1rem solid transparent;
    font-size: 1.4rem;
}





.active {
    border-color: rgba(77, 181, 255, 0.416);
}
/* 
@media screen and (max-width: 380px) {


    .bar-button__container {
        padding: .5rem 0;
    }
} */