.popover { 
    width: 16rem;
    border-radius: 2rem;
    padding: 1.5rem;
    background-color: #fff;
    z-index: 2;
    border: 1px solid rgb(206, 237, 255);

}

.calendar-container {
    z-index: 1;
}

