.small_input {
    display: flex;
    height: 3rem;
    width: 16rem;
    border-radius: 2.5rem;
    background-color: rgb(249, 250, 255);
    border: .1rem solid rgb(211, 235, 255);
    padding: 1.5rem;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
}

.addInput {
    margin-bottom: 2rem;
}

.addInput form select,
.datepicker {
    border-radius: 3.2rem;
    cursor: pointer;

}

.addTaskForm {
    margin-top: .8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   align-items:center;
    position: absolute;
    max-width: 67rem;
    column-gap: 1rem;

}

.addInput form button {
    background-color: rgb(78, 86, 124);
    transition: var(--transition);
    color: white;
    width: 8rem;
}

.addInput form button:hover {
    background-color: rgb(67, 74, 105);
    font-size: 1.35rem;
    transition: var(--transition);
}

.select {
    justify-content: space-evenly;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 16.5rem;
    box-shadow: 0px .8rem 1.6rem 0px rgba(0, 0, 0, 0.2);
    padding: 1.2rem 1.6rem;
    z-index: 1;
    border-radius: 2.4rem;
}

.dropdown-item:hover {
    background-color: var(--color-bg);
    border-radius: 2.4rem;
    cursor: pointer;

}


.detail-input {
    overflow: hidden;
    resize: vertical;
    font-family: inherit;
    padding: .5rem;
    padding-left: 2rem;
    min-height: 3rem;

}
